@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fbf5df;
  --foreground: #303030;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #020617;
    --foreground: #fbf5df;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}
p,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fbf5df;
}
/* SCROLLBAR */
.scrollbar-grass::-webkit-scrollbar {
  width: 4px;
}

.scrollbar-grass::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  background-color: #064e3b;
}

.scrollbar-grass::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
}

.scrollbar-grass::-webkit-scrollbar-thumb:hover,
body::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

body::-webkit-scrollbar {
  width: 8px;
}

/* DATE PICKER */
.react-datepicker__navigation-icon::before {
  border-color: #064e3b !important;
  margin-top: 4px;
}
.react-datepicker__header {
  background-color: #c6f6d5 !important;
  color: #9ae6b4 !important;
  border-bottom: 1px solid #72eb3a !important;
}
.react-datepicker__month-container > * {
  font-family: var(--font-guerrilla), sans-serif !important;
}
.react-datepicker__current-month {
  color: #064e3b !important;
}
.react-datepicker__day-name {
  color: #059669 !important;
}
.react-datepicker__day--in-range,
.react-datepicker__day--selecting-range-start,
.react-datepicker__day--selecting-range-end,
.react-datepicker__day--keyboard-selected,
.react-datepicker__day:hover {
  background-color: #34d399 !important;
}
.react-datepicker__day--in-selecting-range {
  background-color: #10b981 !important;
}

/* SEARCH INPUT CLEAR BUTTON */
[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  height: 16px;
  width: 16px;
  -webkit-mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23777'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
  background-color: #fbf5df;
  background-size: 20px 20px;
}

/* GOOGLE AUTOCOMPLETE DROPDOWN */
.pac-container {
  background-color: #059669;
  margin-top: 8px;
  border-radius: 2px;
  border: 1px solid #72eb3a;
  font-family: var(--font-guerrilla), sans-serif;
  box-shadow: none;
  padding: 4px;
}

.pac-item {
  cursor: pointer;
  padding: 8px 12px 8px 12px;
  border: none;
  line-height: inherit;
  font-size: 16px;
  color: #fbf5df;
  transition: all 0.3s;
}
.pac-item:hover {
  background-color: #10b981;
}
.pac-item-selected,
.pac-item-selected:hover {
  background-color: #ebf2fe;
}
.pac-item-query {
  color: #d9f99d;
}
.pac-icon {
  display: none;
}

/* HERO IMAGE CLIP */
.hero-clip-diagonal {
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 36% 100%);
}

/* REACT SELECT ADDITIONAL CLASSES TO KEEP ONLY ONE LINE */
.react-select__value-container {
  flex-wrap: nowrap !important;
}

.react-select__multi-value {
  min-width: 20% !important;
}

/* NUMBER INPUT */
/* HIDE SPINNERS */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
/* ADD SUFFIX TO PRICE INPUT */
/* prepare wrapper element */
.price {
  position: relative;
}

/* position the unit to the right of the wrapper */
.price::after {
  position: absolute;
  top: 32px;
  right: 0.5em;
  transition: all 0.05s ease-in-out;
  content: "zł";
}

/* handle Firefox (arrows always shown) */
@supports (-moz-appearance: none) {
  .price::after {
    right: 1.5em;
  }
}

/* ANIMATION DELAY */
.delay-1 {
  animation-delay: 1s;
}
/* TAILWIND UTILITIES */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
