@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fbf5df;
  --foreground: #303030;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #020617;
    --foreground: #fbf5df;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

.hero-clip-diagonal {
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 36% 100%);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
